.accordion-item{
    background-color:antiquewhite;
}

.categories{
    display: flex;
    text-decoration: none;
}

@media(max-width:980px) {
    .links{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width : 680px){

    .accordion-item{
        transform: scale(0.8);
    }

    .accordion-body{
        transform: scale(0.8);
    }
}