.accordion-item{
    background-color:antiquewhite;
}

.categories{
    display: flex;
    text-decoration: none;
}

@media(max-width:980px) {
    .links{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        font-size: 14px;
    }
}

@media (max-width : 680px){

    .accordion-item{
        transform: scale(0.8);
    }

    .accordion-body{
        transform: scale(0.8);
    }

    .accordion-item h2{
        font-size: 12px;
    }
}

@media (max-width : 400px){

    .accordion-item{
        transform: scale(0.7);
        width: 120px;
    }

    .accordion-body{
        transform: scale(0.8);
        padding-bottom: -100px;
    }    
}

@media (max-width : 325px){

    .accordion-item{
        width:100px;
    }

    .accordion-body{
        transform: scale(0.6);
        padding-bottom: -100px;
    }

}