.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#F5F5F5;
    border-radius: 1%;
    margin-bottom: 5%;
    width: 100%;
}

@media(max-width:1450px) {
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:980px) {
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
